html {
  font-family: 'bangers', cursive;
  background-color: #13263a;
  font-size: 100%
}
h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 5%;
}
h2 {
  padding: 10px;
  font-size: 2em;
  color: white;
}
h6 {
  color: white;
}
p {
  color: #13263a;
  display: inline;
  padding: 1px;
  font-size: 0.0001px;
}
#clearboard {
  margin: 0 auto;
  background-color: #1E90FF;
  width: 30%;
  text-align: center;
  margin-top: 2%;
  border: 3px solid white;
  color: white;
}
#instructions {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  margin-top: 2%;
  color: white;
}
#gameboard {
  height: 500px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 0;
}
#cell1 {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
#cell2 {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
#cell3 {
  border-bottom: 3px solid white;
}
#cell4 {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
#cell5 {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
#cell6 {
  border-bottom: 3px solid white;
}
#cell7 {
  border-right: 3px solid white;
}
#cell8 {
  border-right: 3px solid white;
}
.cell {
  height: 33%;
  width: 33%;
  max-width: 200px;
  display: inline-block;
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 35px;
  background-color: red;
  padding-left: 8px;
  box-sizing: border-box;
}
